@model List<TabScore.Models.SectionClass>
@{
    ViewBag.Title = "Enter Section";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="noSectionModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a Section</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Select Section:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @foreach (var Section in Model)
        {
            <button id="s@(Section.Letter)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectSection('@(Section.Letter)')">
                @Section.Letter
            </button>
        }
    </div>
</div>

<script>
    var section = "";

    function selectSection(n) {
        if (section != "") {
            document.getElementById("s" + section).className = "btn btn-primary btn-lg m-1";
        }
        document.getElementById("s" + n).className = "btn btn-warning btn-lg m-1";
        section = n;
    }

    function validateOK() {
        if (section != "") {
            location.href = '@Url.Action("OKButtonClick", "EnterSection")?sectionLetter=' + section;
        }
        else {
            $("#noSectionModal").modal();
        }
    }
</script>
