<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2021 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.EnterTableNumberDirection

<div id="tableDirectionRegisteredModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-danger">
                <p class="modal-title text-center">
                    <h3>Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>Table @Model.TableNumber and Direction @Model.Direction is already registered.  Do not press Register unless you intend to re-register a tablet device at your current location</p>
            </div>
            <div class="modal-footer" style="justify-content:space-between">
                <button class="btn btn-lg btn-danger" ontouchstart="modalLogOn()">
                    <span class="fa fa-play-circle"></span> Register
                </button>
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    Cancel <span class="fa fa-times-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Select Direction:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @if (!Model.NorthMissing)
        {
            <button id="dNorth" class="btn btn-secondary btn-lg m-1" style="width:4.5em" ontouchstart="selectDirection('North')">
                North
            </button>
        }
        @if (!Model.EastMissing)
        {
            <button id="dEast" class="btn btn-secondary btn-lg m-1" style="width:4.5em" ontouchstart="selectDirection('East')">
                East
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @if (!Model.SouthMissing)
        {
            <button id="dSouth" class="btn btn-secondary btn-lg m-1" style="width:4.5em" ontouchstart="selectDirection('South')">
                South
            </button>
        }
        @if (!Model.WestMissing)
        {
            <button id="dWest" class="btn btn-secondary btn-lg m-1" style="width:4.5em" ontouchstart="selectDirection('West')">
                West
            </button>
        }
    </div>
</div>

@if (Model.Confirm)
{
    <script>
        $("#tableDirectionRegisteredModal").modal("show");
    </script>
}

<script>
    var direction = "";
    var isSubmitted = false;

    function selectDirection(d) {
        if (document.getElementById("dNorth")) document.getElementById("dNorth").className = "btn btn-secondary btn-lg m-1"; 
        if (document.getElementById("dSouth")) document.getElementById("dSouth").className = "btn btn-secondary btn-lg m-1"; 
        if (document.getElementById("dEast")) document.getElementById("dEast").className = "btn btn-secondary btn-lg m-1"; 
        if (document.getElementById("dWest")) document.getElementById("dWest").className = "btn btn-secondary btn-lg m-1"; 
        document.getElementById("d" + d).className = "btn btn-warning btn-lg m-1";
        direction = d;
        document.getElementById("OKButton").disabled = false;
    }

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "EnterDirection")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&direction=' + direction + '&confirm=false';
        }
    });

    function modalLogOn() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "EnterDirection")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&direction=@Model.Direction&confirm=true';
        }
    }
</script>