<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
	<compilation debug="false" targetFramework="4.7.2" xdt:Transform="Replace" />
	<customErrors mode="On" defaultRedirect="~/ErrorScreen/Index" xdt:Transform="Replace"/>
  </system.web>
</configuration>
