<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@{
    ViewData["Title"] = "Enter Player Number";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="noPlayerNoModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a player number, or select 'Unknown'</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter ID for @ViewData["Direction"]:
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <input class="form-control-lg text-center mx-auto my-1" style="width: 8em" type="text" id="playerNumberBox" value="" readonly>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <button id="nk" class="btn btn-primary btn-lg m-1" style="width: 6em" ontouchstart="unknown()">
            Unknown
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(1)">
            1
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(2)">
            2
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(3)">
            3
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(4)">
            4
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(5)">
            5
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(6)">
            6
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(7)">
            7
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(8)">
            8
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(9)">
            9
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-warning btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="clearLastEntry()">
            CE
        </button>
        <button class="btn btn-primary btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="addNumber(0)">
            0
        </button>
        <button class="btn btn-danger btn-lg m-1" style="width: 3em; font-size: 1.5rem" ontouchstart="clearplayerNumber()">
            C
        </button>
    </div>
</div>

<script>
    var playerNumber = "";
    var isSubmitted = false;

    function addNumber(e) {
        if (playerNumber == "Unknown") {
            document.getElementById('nk').className = "btn btn-primary btn-lg m-1";
            playerNumber = "";
        }
        playerNumber = playerNumber + e;
        document.getElementById('playerNumberBox').value = playerNumber;
    }

    function unknown() {
        playerNumber = "Unknown";
        document.getElementById('nk').className = "btn btn-warning btn-lg m-1";
        document.getElementById('playerNumberBox').value = playerNumber;
    }

    function clearplayerNumber() {
        document.getElementById('nk').className = "btn btn-primary btn-lg m-1";
        playerNumber = ""
        document.getElementById('playerNumberBox').value = "";
    }

    function clearLastEntry() {
        if (playerNumber == "Unknown") {
            document.getElementById('nk').className = "btn btn-primary btn-lg m-1";
            playerNumber = "";
        }
        else
        {
            if (playerNumber.length > 0) {
                playerNumber = playerNumber.substr(0, playerNumber.length - 1);
            }
        }
        document.getElementById('playerNumberBox').value = playerNumber;
    }

    function validateOK() {
        if (playerNumber == "") {
            $("#noPlayerNoModal").modal();
        }
        else {
            if (playerNumber == "Unknown") playerNumber = "0";
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("OKButtonClick", "EnterPlayerNumber")?direction=' + '@ViewData["Direction"]' + '&playerNumber=' + playerNumber;
            }
        }
    }
</script>
