<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WebAppInstallFolder">
            <Component Id="cmp5FF80ED0A286DB27D50392A139CBA9C2" Guid="{016D2F2E-97EB-4573-B079-E9F88E576303}">
                <File Id="fil63E301078CF6CE0D9161B1F42C0EDD03" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Cards Logo.png" />
            </Component>
            <Component Id="cmpB66DFE206993B97FC1B3584C2B2B2B03" Guid="{26DDD3A0-C4CB-4CBC-B20B-5355EE5E8EDF}">
                <File Id="filBAB30AE50BA354D1D01B21E5C88810CC" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Chequered Flag Logo.png" />
            </Component>
            <Component Id="cmp5F26B87B91EBA7A6543C03F9E9BA2FA4" Guid="{18E5AE21-2DC7-4685-9ACF-9844097B98AD}">
                <File Id="filD61424043C5ACD34FD4BA29FB3F39A0A" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Global.asax" />
            </Component>
            <Component Id="cmpB40041BACFA4D7E001F1B62CB9C6778F" Guid="{C3F252BC-EE3C-4833-A7C1-D0CE869F7406}">
                <File Id="filA5E5E10ECC659EC431429C8E24405684" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\TabScoreIcon.ico" />
            </Component>
            <Component Id="cmp8763F03EFC8E7D2E1629E4858F54831D" Guid="{EB6C23E1-0CCC-4999-9DCC-08CBD584FF66}">
                <File Id="fil68E789368B34DC8E6280556A2FDBF5EC" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Web.config" />
            </Component>
            <Directory Id="dir35648AEAE1C66EF4EFEEB90EAF326142" Name="bin">
                <Component Id="cmpCD07399875273C16C0BA2B11C0BC6582" Guid="{8A6AE30F-A1A3-4DB7-A15D-A508954A958C}">
                    <File Id="fil5CFBB4DAA1FCA49C0F2A714CF4544376" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\Antlr3.Runtime.dll" />
                </Component>
                <Component Id="cmp8037A6503748249F6D8D4A208B3F47C6" Guid="{15BD2793-226F-4880-BDA9-4F74EC04D0E5}">
                    <File Id="fil05B0793F7680CDBCBB8522146F5542C4" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\Antlr3.Runtime.pdb" />
                </Component>
                <Component Id="cmpB0A61A282499528B02BFB77E8441F3F1" Guid="{E7DF3EEF-F6AB-46E1-87D8-26DA9E7477A3}">
                    <File Id="fil228084F9124F30F168866F465C8941E5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\Microsoft.Web.Infrastructure.dll" />
                </Component>
                <Component Id="cmp2655A666EB3F15DB0C0820C202EB2DD5" Guid="{73079D46-A771-4A09-BC73-2AA4F1B2CE64}">
                    <File Id="fil766FACDC79AD75792EA988041D833659" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmp49877A3F0FC9CEEB8D778BBDB9B13F63" Guid="{1F580AB7-1DE0-4832-8056-A876B985C40D}">
                    <File Id="fil86C364A12DEE33BAE65AC241C1083EC6" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.Helpers.dll" />
                </Component>
                <Component Id="cmpBD7E6C4BA5C6E06D919A8CE1E8535FF5" Guid="{0EF7EC54-7512-49D6-9D48-E67CD93AF1F9}">
                    <File Id="filBA52C062E2B40961A925B0D060F58D03" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.Mvc.dll" />
                </Component>
                <Component Id="cmp816363550A9C8504581D9149C12612C0" Guid="{D546B4CB-556B-487E-B2A6-EFCC2598B214}">
                    <File Id="filACC4FF519628D1B1570913EB026C002E" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.Razor.dll" />
                </Component>
                <Component Id="cmp66DEB367879A30E3340ECE301D469981" Guid="{7398E300-12B8-479F-A8B6-2CFD847B495E}">
                    <File Id="fil556ECB76B8F30013E873FF985D990BE5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.WebPages.Deployment.dll" />
                </Component>
                <Component Id="cmp10F961A06AE1C41ED53BCC16442A0C41" Guid="{E8C1A0C9-1040-4C04-9715-F5459F3A68EC}">
                    <File Id="fil9DAE7E282B9474BA5D2B0094026E27AA" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.WebPages.dll" />
                </Component>
                <Component Id="cmp6CBFD71F434F6D7A814414FDB8860B15" Guid="{90900393-8161-40ED-AA1A-92AC9983E7A8}">
                    <File Id="fil02C79FAEFA430A384F4F77482AD52E4A" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\System.Web.WebPages.Razor.dll" />
                </Component>
                <Component Id="cmp78448B1C040CAAFA89D76F17D00B9D40" Guid="{5ED8BF00-0325-4A61-B62D-2767220ED95E}">
                    <File Id="fil5DA99B0C0E46AFC596FDC2C16F0E4B22" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\TabScore.dll" />
                </Component>
                <Component Id="cmp905BD53BBFB6FB78915532B69BB9966E" Guid="{BDFE9E44-2847-463C-8EC0-667744D3E791}">
                    <File Id="fil396C1B132898232995F2AB6CB6416103" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\TabScore.pdb" />
                </Component>
                <Component Id="cmpB5B6F2C141178F6CD23AA0FF4F612ED9" Guid="{AF40B6AD-19DA-4BE0-9990-026EBD0754C7}">
                    <File Id="fil7167D6FCF9147D586845748D4E1954F6" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\bin\WebGrease.dll" />
                </Component>
            </Directory>
            <Directory Id="dir1C6AD0A422BD27D725F8C413652DB260" Name="Content">
                <Component Id="cmpDDFFBFEDF1928DE066DA29D42A3DFC1B" Guid="{D11CF4E1-99EF-49B6-A1DD-589FBCDF4851}">
                    <File Id="filA6AD3DEFC44A0CB8D693755683A7E1BD" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-grid.css" />
                </Component>
                <Component Id="cmpA85CF02E1EDF168577C2E45FE6087481" Guid="{CC4CD5D3-CFA3-4A6E-971A-F2D9E19F057B}">
                    <File Id="fil9F6AA8827FAA87151977DEBE1E9E2318" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-grid.css.map" />
                </Component>
                <Component Id="cmpE557982A17D786AC2B5A2BB65B04CC88" Guid="{19C73F1D-4302-4265-A991-A1C11B5D041C}">
                    <File Id="fil7230DE00E87A9DF6801F1C4CB461EF3E" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-grid.min.css" />
                </Component>
                <Component Id="cmp800E85FBB8B544209B8634891DCBB897" Guid="{3407D14B-D568-445E-A497-E4E93FECD98F}">
                    <File Id="filF263578847F9F8E557AF834E710740E4" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-grid.min.css.map" />
                </Component>
                <Component Id="cmp3C8FB25D72D3BBADDD2698F0788B61D6" Guid="{19D585DC-0E3A-47E2-A6E9-03426BB39EE7}">
                    <File Id="filA2043160841F15F5553974CE3C6312CE" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-reboot.css" />
                </Component>
                <Component Id="cmp670D2A3DE62D8E91AAC7373CFBEEC00B" Guid="{96A5DF60-5045-4F81-8D72-B61F8197199B}">
                    <File Id="filC4786315F8F876D132FF873F00406353" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-reboot.css.map" />
                </Component>
                <Component Id="cmp0F427984D141C7BC455A7321F43D0D3F" Guid="{0A8D9F9A-0FF2-4AF8-823B-58D028F0D02C}">
                    <File Id="fil59D5A32878EAA86234C0D7CA2B2F3183" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-reboot.min.css" />
                </Component>
                <Component Id="cmp7EEF48FAC492E415991D84E36993DA5F" Guid="{23C233E2-8C14-49DD-A307-F189276E4F4F}">
                    <File Id="fil7F91F0509933F5E441A6E926EA2BEF58" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap-reboot.min.css.map" />
                </Component>
                <Component Id="cmpFBBD1F67BBDD39D002DFAE52CE012F9E" Guid="{2FC836C1-F70B-4C39-870A-09680A244EAE}">
                    <File Id="fil20E2E64E88B3B60319ADCBF98E8F2DAC" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap.css" />
                </Component>
                <Component Id="cmp4E73AC0B6FC510B3F7DA675E04B88459" Guid="{8F0AA875-69C4-45D7-A128-8DE6D0A97D58}">
                    <File Id="fil3DA02E56EFFB8FE475AE5F7457F7F696" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap.css.map" />
                </Component>
                <Component Id="cmpE5DEB11E54FA0FC7FE658ADB774087DB" Guid="{D8C589A4-84FC-4226-8CC7-DD53B707C38B}">
                    <File Id="fil8B38A416DEBBF3EC21EEEC46359D266A" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap.min.css" />
                </Component>
                <Component Id="cmpE947F003C8FBCA8198F5365863FA2AF3" Guid="{5E9DEA0D-7E5C-4AE0-9FD3-1F94F26B1ABF}">
                    <File Id="fil4E3A787DFD2AB9CEA769B376459BD877" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\bootstrap.min.css.map" />
                </Component>
                <Component Id="cmp3B3FEF2EEF0CF216D44FDA8BE2642736" Guid="{460B1A56-541B-499E-92BD-E1EE830545FC}">
                    <File Id="filF488CB1A0C8064CC681E9419BB1AB084" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\font-awesome.css" />
                </Component>
                <Component Id="cmp880B0B9F8C92BCCD502FA9295086EA1E" Guid="{15BF3B4B-E1B5-48E3-9791-0580DB194F2D}">
                    <File Id="fil5B1325A86B87B2D3883BE19DCF7C4E2B" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Content\font-awesome.min.css" />
                </Component>
            </Directory>
            <Directory Id="dir2C6F51C29A25CF569C7056E54389FCCC" Name="fonts">
                <Component Id="cmpB77749F6AFB30BBAF5C0E96DB4729EC9" Guid="{5211A6AA-89AD-4ACE-9E28-3D27BBC4E8B2}">
                    <File Id="fil292F00C22D1366AA9E350D986B0FE454" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\fontawesome-webfont.eot" />
                </Component>
                <Component Id="cmp1CC3973756760E857D75CC86ADFB9A42" Guid="{A3FF4E28-6EE2-4A19-8F9F-FCAF7E2C6B85}">
                    <File Id="fil0B6FDC7D08B973276E80E6E1E000AE54" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\fontawesome-webfont.svg" />
                </Component>
                <Component Id="cmp67702B588379CBF5446F90550644EB48" Guid="{761C5485-96BA-47A2-AC32-B99169CCCEA1}">
                    <File Id="fil9E93927A02DB3453E1715327998DE7D8" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\fontawesome-webfont.ttf" />
                </Component>
                <Component Id="cmpDC7D57BF540CC91CAA940324EA7799B6" Guid="{78536242-42A6-4A5C-AECA-68EE74C039FC}">
                    <File Id="fil582D7825F50DFB1FCF10897CBAC248D5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\fontawesome-webfont.woff" />
                </Component>
                <Component Id="cmpCCBB0C2B8F8D4F4DF41CC873CC7067E6" Guid="{DB0F0263-CB3B-4931-A299-A12FEDCC9DB0}">
                    <File Id="fil7B9BA245B2A71BC86C8DF6D9B6EE2810" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\fontawesome-webfont.woff2" />
                </Component>
                <Component Id="cmpBAEA759BF68DBFB6E8C6C192E2EE61BF" Guid="{EEAA46D4-05F0-4FE8-BCEC-A1700315CBB5}">
                    <File Id="filE037B79C5C332BDB5879EF521EFAB55F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\fonts\FontAwesome.otf" />
                </Component>
            </Directory>
            <Directory Id="dir17ED667A5245C6E57B1F7490EC8C77B2" Name="Scripts">
                <Component Id="cmp8AD22E8B08CD6CF5D6977D4DE5317116" Guid="{6C27A849-85BE-4D94-85FF-E6D6CAA4D731}">
                    <File Id="fil3DB8088A57BEB412EB8948242E803837" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.bundle.js" />
                </Component>
                <Component Id="cmp663A5DDB8FBAF28C10346D615B5B4100" Guid="{D241F92D-8640-44CF-9DCE-A0A446296827}">
                    <File Id="fil45C52944BE8F3436F028A71B020438D4" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.bundle.js.map" />
                </Component>
                <Component Id="cmp1BB67055F2053DFDD35378AD53EAD8A7" Guid="{636026D0-7FEB-4FDF-8513-53646EF6635F}">
                    <File Id="fil72E41984CF05DB3A9EB8C5A54C741578" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.bundle.min.js" />
                </Component>
                <Component Id="cmp49B1009B03BB7F693F6AE0F453EED1F9" Guid="{1B4221CA-79D3-4B70-9EC0-B164A550F177}">
                    <File Id="filCEE9F9ABC9712B827AF22D9320E3A88A" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.bundle.min.js.map" />
                </Component>
                <Component Id="cmp6F264A01FD334706E405DC9143B63937" Guid="{B45385A7-0051-4B03-8AA6-47A7898B317D}">
                    <File Id="fil13B5960136ADBEE6880EF814B93D613E" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.js" />
                </Component>
                <Component Id="cmp69F722D26F61A17D1447FCAF231A5410" Guid="{10592454-8EC4-47C3-9C97-2F2472E66800}">
                    <File Id="filCFAB48DF086B7D694C116441731E19DF" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.js.map" />
                </Component>
                <Component Id="cmp6874D66144693A24CAA301C7E4C6133D" Guid="{1236F6B4-2996-4844-8888-E2B7C0B8BD63}">
                    <File Id="fil44F34A196644F5758D3681E9FD452400" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.min.js" />
                </Component>
                <Component Id="cmp3FB1E840597D02D348C3359688BB393C" Guid="{67A106D4-0C21-41B1-A20B-08B0E7D99918}">
                    <File Id="filAACB6C8A0C0C8B101771516C133984CF" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\bootstrap.min.js.map" />
                </Component>
                <Component Id="cmp4EB2B33C31DB840B4DB8E5F9CBCDF9B5" Guid="{BA9B788D-4D11-448B-BCC4-5FCCCC818EFB}">
                    <File Id="fil3E7F8FD9AC18172823A8793F6C63A11B" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.js" />
                </Component>
                <Component Id="cmp986B21886F426E14BC730FC020BFDB7F" Guid="{1F5D7E03-3132-45DC-9276-455492B8D977}">
                    <File Id="filD9EF11B07D3A9A9B739C3C05181E243F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.min.js" />
                </Component>
                <Component Id="cmpA2A5AE8BFB5E3E897E9787334BBDAA08" Guid="{3A4D97B9-57F1-45C9-8BAE-BA51793A474A}">
                    <File Id="filC10183EBCC95E0A4B1E84C17AEDABC28" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.min.map" />
                </Component>
                <Component Id="cmp8158C774BBC83F87F259E881C69ECD4C" Guid="{153AAF3D-536B-40CD-985C-CBE9E7559D46}">
                    <File Id="fil672F2E1D52118A52419F874AE085FCE0" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.slim.js" />
                </Component>
                <Component Id="cmp4FF813DAF8C917B74C61351E893583B4" Guid="{F50D937B-6ECE-4922-B420-B42B2CA7BCBA}">
                    <File Id="fil65A6A12EB3031D31A28B8068C8D364D9" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.slim.min.js" />
                </Component>
                <Component Id="cmpE040CB3B3F979885E82DCA96887768CF" Guid="{FF990A86-9FEF-4F6E-8BE0-27821117C446}">
                    <File Id="filDEAF7D37BBE3891E17F702186D71BEDE" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery-3.3.1.slim.min.map" />
                </Component>
                <Component Id="cmp8A75B0CBD78C44EF2503B7C97B959337" Guid="{7AC5E0AE-B684-4F3E-9D93-CB85684878EB}">
                    <File Id="fil4D35E4A021AA98BB8E1ED1894B93DB1B" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery.validate.js" />
                </Component>
                <Component Id="cmp06FDB840C252826C868712273160A053" Guid="{F87C06F7-FCB0-4773-97A9-BAC6600EFBA9}">
                    <File Id="fil0438666BE8413A0C0CDE5E0AE2A365E7" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\jquery.validate.min.js" />
                </Component>
                <Component Id="cmp022457CF130D08DB2AC39844506449BC" Guid="{AF78F3CB-9B98-4545-A9DC-831DCA43E6FB}">
                    <File Id="filB6D0D55EC515C1F0EF1F57C3A92EFDA2" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\modernizr-2.8.3.js" />
                </Component>
                <Component Id="cmpE492912D102E902C2D29A796DE2841F3" Guid="{A6D48974-8C38-4740-AA01-481DD6B9DF4E}">
                    <File Id="filA386736B7BAF9FB53647212A473FEDBD" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper-utils.js" />
                </Component>
                <Component Id="cmp42114232F8457F4830A40FE0C9EEA457" Guid="{17E81A2E-DB8F-4A5E-B5B4-F39EE360D1DA}">
                    <File Id="fil7E6EC8600D44F7E9092D9F4C45B30C91" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper-utils.js.map" />
                </Component>
                <Component Id="cmp2733CCD086090D3264032E6159E87669" Guid="{7F50865A-9591-4A91-B46B-C3828F4AC2DC}">
                    <File Id="fil1FC53ACA30EBE33B25F4D931BF45DCE9" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper-utils.min.js" />
                </Component>
                <Component Id="cmp8B28B977FFCAA959D3CF9A94C8FE9882" Guid="{CA477356-EB4A-42D3-862D-E42A2AD24519}">
                    <File Id="filF76C2046D5DC5894D71B1614945C8825" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper-utils.min.js.map" />
                </Component>
                <Component Id="cmpA535BC8D4B1B3890D5941BC9863D5FA0" Guid="{22CF4C75-7804-4D7F-9397-4EECC59E7625}">
                    <File Id="fil146B2F2A2397B36C1D56A3F71451960F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper.js" />
                </Component>
                <Component Id="cmp22C24BC79E92D13E3A98E33837D87B9F" Guid="{6A13F06F-1230-4876-85B0-E535BDD2A2F5}">
                    <File Id="fil98F13902FF2378EE72A112B8B615EAF5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper.js.map" />
                </Component>
                <Component Id="cmpE67CB01D253FE3371490BB94A61E71C8" Guid="{7A1057ED-FB8E-4722-BA7B-2C88950301FC}">
                    <File Id="filBB9F771D853C5F0354A6644A025AEAC2" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper.min.js" />
                </Component>
                <Component Id="cmp01D84499C02CEC91E64485D9D8B69CA0" Guid="{F6B8C25B-D063-4301-8A83-AD33727248F3}">
                    <File Id="filFACB8C60FD1336DFD26A2887E05A98F7" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\popper.min.js.map" />
                </Component>
                <Component Id="cmp903A0B49B7236E581408CD359C51E3D5" Guid="{B95247C9-5644-46E2-9C82-C60C6D43A9B3}">
                    <File Id="fil5091445793B936BD16A37600BE5A47F5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\README.md" />
                </Component>
                <Directory Id="dir37566F7EB6E4369A92F514C2C8D58C19" Name="esm">
                    <Component Id="cmpDFF7740367832ADFDB9FB7685BC3111F" Guid="{569C0237-CE27-407D-AE38-7C3B06E36DBE}">
                        <File Id="filE0BD50033BD66279D5BD108790D84DFB" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper-utils.js" />
                    </Component>
                    <Component Id="cmp9B9F0F502BD153A20F241CF461B091DA" Guid="{EA40CFCC-59BC-4350-9964-0D3BA8DFA419}">
                        <File Id="fil1B507EFEB10A5B7E4EE9BEA08D489E9F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper-utils.js.map" />
                    </Component>
                    <Component Id="cmp2B28B7EF53BD9207A6F996CB46E2722B" Guid="{CE866E8B-E1ED-49EF-AB39-A90442947C24}">
                        <File Id="filC99EFE8E4431A8A89495B115BDA26170" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper-utils.min.js" />
                    </Component>
                    <Component Id="cmp336EA5F27D1718677A22399C6BA9D541" Guid="{D056BDC2-3B5F-4227-9D7B-7ABBBCC74696}">
                        <File Id="fil94549F687668C5C195BBAAA5CB2E6EA3" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper-utils.min.js.map" />
                    </Component>
                    <Component Id="cmp2871F4592541A83C1368840C8164D277" Guid="{637204CF-B537-4F0D-875F-B5DDEBEDFE7E}">
                        <File Id="fil4483349C373F7BDB091F1E996B17CCC2" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper.js" />
                    </Component>
                    <Component Id="cmp7B333264D19B3FBB91BB5A0D879C2837" Guid="{A95456EC-7D64-4BB8-9755-BCBDE06DB055}">
                        <File Id="filA1B3679BF5C4BA0D2F121E16E8862AC3" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper.js.map" />
                    </Component>
                    <Component Id="cmpDAF7E356CD6C13891A1F958309DAA65C" Guid="{5A7B458E-F8ED-4ADF-BAF7-CDE092D4F60B}">
                        <File Id="filA6F9DDD7B4DE8FB1F305DBC4F135629F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper.min.js" />
                    </Component>
                    <Component Id="cmpB6651BE5CF0F15D7FE1EB727BD246127" Guid="{8E2031C6-D4E4-4060-BC02-6B2299699554}">
                        <File Id="fil00769F5D8904D8E8B6CF18071B49F180" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\esm\popper.min.js.map" />
                    </Component>
                </Directory>
                <Directory Id="dir3E1F4F85FF1760A7404C81AF20CDB61A" Name="umd">
                    <Component Id="cmp916E6366D93BB973BF4224C8A77AE3EC" Guid="{6D82CC7F-77F5-4EAF-A062-261FCE15A21C}">
                        <File Id="filEC9981490127B29A916C8292B01342B0" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper-utils.js" />
                    </Component>
                    <Component Id="cmpAE51DD5BCF525E5359843AB18020141B" Guid="{496084E0-8249-43C1-9794-B6C43B78DB74}">
                        <File Id="filD3B74AA6BA6EFFC4EB484D9AFB2D1B7F" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper-utils.js.map" />
                    </Component>
                    <Component Id="cmp365D1F8784F466F998E8AF94ACC2468E" Guid="{1D5E64EB-65DF-4723-919B-5520C1B3711E}">
                        <File Id="fil142323AAFB3DC9579394D372EE9FC1D5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper-utils.min.js" />
                    </Component>
                    <Component Id="cmpBFD94088176DACF0C75DD44B48E5AB4A" Guid="{2E787518-7D15-4C82-B295-DBC172A9F8A6}">
                        <File Id="filC6D03DFFEBB30FDB49393BB0716F8477" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper-utils.min.js.map" />
                    </Component>
                    <Component Id="cmpB54682926F1CD13E0071A229DD9FE93A" Guid="{EF730F9B-9D4D-4D65-A644-771983ECBF88}">
                        <File Id="fil1B78FE895517F9B66CD29EFE831CEF36" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper.js" />
                    </Component>
                    <Component Id="cmp9FC12F97035D3609EFEC9086D10B9E33" Guid="{F2C8424C-6AA6-401B-B9C5-F7DA8E3C3F60}">
                        <File Id="filAA3C2B3BD8994A406984EDCD28B50AA9" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper.js.map" />
                    </Component>
                    <Component Id="cmpEC16DA3AD5B52F80B99E6D799FE6567E" Guid="{21C3CAC8-C19A-43E6-907A-42B94D170B3E}">
                        <File Id="fil7AE781AB786DF2132A9F42F19F3B8CEB" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper.min.js" />
                    </Component>
                    <Component Id="cmpB4EA62946A507C2B9838EC8B670893FD" Guid="{71DA5443-1006-457C-867B-9E6B35F51FD0}">
                        <File Id="filF4571292547218682A622674123E8679" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Scripts\umd\popper.min.js.map" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir09617EAFAD2367DFF435E502D7B8CFAC" Name="Views">
                <Component Id="cmpBDB997483DF72848C4992623DAFD6BC0" Guid="{AB85185A-FFAC-4F12-B04A-85BBF057B421}">
                    <File Id="fil5B649EDA209F435B4911E222F4DCFEA5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\Web.config" />
                </Component>
                <Directory Id="dir474AE082B8C979D3F993006057DF6436" Name="ConfirmResult">
                    <Component Id="cmp54CC7538C2CB705F4760EE7DB64A6297" Guid="{3014905A-23DD-408E-A882-A924D74BBF69}">
                        <File Id="fil6A2F12E5E3AE145493659C085827D4FD" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ConfirmResult\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir209C3F546EC5BFE7B61AE935CA879D03" Name="EndScreen">
                    <Component Id="cmp9E3D483FAAFE47099C81908AFF62400A" Guid="{1859DEB1-2713-4440-BC95-11C37857F470}">
                        <File Id="filF2ADF4E3FBEE1D00A39401F92498F680" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EndScreen\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir0AAC202737FC0893569A28A0C613A086" Name="EnterContract">
                    <Component Id="cmp9BD5B1A6EF4C77DDB8CD6AACEED1F628" Guid="{41EEE8C6-23E6-4FE2-A0CE-13E62878F31E}">
                        <File Id="fil641CF5C903994C414946649C98098568" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterContract\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir74C4946F7C5EBBF273F537006367D0E5" Name="EnterLead">
                    <Component Id="cmp7C83264EE9F9A0CD0BB957F223EE7F11" Guid="{3FF0B9E9-D9C9-4B67-9D5E-666EE44CC811}">
                        <File Id="fil676BAF9421357527A4E85FDCBDA561A3" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterLead\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir89225F1C533CC38B3030841ABF5E297D" Name="EnterPlayerNumber">
                    <Component Id="cmpCB8DDC25CAED05C122492DAA534E15B0" Guid="{CD880C22-EA87-4BE0-AD2F-FB98111554E2}">
                        <File Id="fil1AFEF266EE13BD6672962DF049881FB9" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterPlayerNumber\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir4A9CC2B2A56ED3080FAD88A67BA0EB60" Name="EnterSection">
                    <Component Id="cmpC127E810A7777FF8C36DA78DC2032C28" Guid="{D94167FE-3533-423E-A690-55E50DC94303}">
                        <File Id="fil2B9948A68469BE7D655D09DE7861CBF5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterSection\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir5A5BA4CEB82B340AB9F3F68D59C2A10C" Name="EnterTableNumber">
                    <Component Id="cmpD33AF6F68CABE8CD54B5AE366E300745" Guid="{65382F23-755F-4F40-9014-1C8AD1E2F8F9}">
                        <File Id="fil1E2A80C7EF56DE40D06FC3C3B0F8067D" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterTableNumber\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir17F5F6B2D8A4E7A0923C112F555BD7EB" Name="EnterTricksTaken">
                    <Component Id="cmp941B15B85BE3C3CE71A39C0A7AC04D04" Guid="{A34A2D7B-67DA-4F97-8C36-66B943BC4952}">
                        <File Id="fil2810339240A372E93F44FD666557FF4C" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterTricksTaken\TotalTricks.cshtml" />
                    </Component>
                    <Component Id="cmpBE40A01327C369521E1CA7FE1B0E2051" Guid="{0CFDFD04-0990-45EE-AF2A-D46149213023}">
                        <File Id="fil1E5060CFE163F5C59E07317B6B2F0694" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\EnterTricksTaken\TricksPlusMinus.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirC72CDD5C237CD084E0B073B874CB7BC8" Name="ErrorScreen">
                    <Component Id="cmp1015C21250B936E4E5D2DC5AE03AF5EA" Guid="{CF171211-88EE-4411-AAF4-12A28D839BD6}">
                        <File Id="fil64A072043D0706735921562EE1525FC0" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ErrorScreen\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirB4A16442810203D8E035DC3D358EFDE1" Name="Shared">
                    <Component Id="cmp2077E59E5B23D8DA9A1D02C4DB9F074C" Guid="{43F61CC7-7C64-407F-9ED3-56E01D8D7CEB}">
                        <File Id="fil90CCEECD4BD52C36A6E4FAFB221AFCE7" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\Shared\_MainLayout.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir3F9F46FA4939C58843D36397EA1996B7" Name="ShowBoards">
                    <Component Id="cmp6543406CDC1DA6DE1FC45E5A355B8550" Guid="{CF7D83FC-A5F5-4F10-90FE-AE5A2A860D30}">
                        <File Id="fil9657F1DD6772007238FA8318F47196BC" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowBoards\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir2F1C393398C6101B6675483224083BD1" Name="ShowHandRecord">
                    <Component Id="cmpADE83ED0FE68319414778ADB5F71A347" Guid="{A6D95BF5-9949-4FF8-8400-056F5A23C982}">
                        <File Id="filCA3D3238C02F885DB9682A93C2CEC306" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowHandRecord\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirF0DB6E4AE986C0F7F26D6DFB1FDB84BB" Name="ShowMove">
                    <Component Id="cmp6DA99BFF15492D6E1CDA3DF848BD6232" Guid="{ED0A0E71-9149-4490-A53B-BDF74EB87039}">
                        <File Id="fil3391CFF409D8826D5A388703650DA035" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowMove\EWMissing.cshtml" />
                    </Component>
                    <Component Id="cmp7498E313C6DD0BDD00BB6C950FAA07D4" Guid="{68831C3D-A79D-4827-95DB-5B191729571A}">
                        <File Id="filF8E5BF784794653E77309B1D7D100E3B" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowMove\Index.cshtml" />
                    </Component>
                    <Component Id="cmp865DF918F46EA190A4FAAA36CD450264" Guid="{7044BFB7-B65B-4744-AF2D-27059227E669}">
                        <File Id="filB3FC927B1D91A2AD3B0BECA6CE5A290D" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowMove\NSMissing.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir0030DED1A03B304F6F19F52DCD6126ED" Name="ShowPlayerNumbers">
                    <Component Id="cmpD3ED2A428B609D5276FE1C103EBE2938" Guid="{4B583E7D-081F-48AD-A137-7A302967DC14}">
                        <File Id="filEAC4E67EF14F9405595158D8C2546B9C" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowPlayerNumbers\EWMissing.cshtml" />
                    </Component>
                    <Component Id="cmp02DEA71F955E43690D52EC922664B93A" Guid="{4B137511-2996-4953-9422-035B46AD87B3}">
                        <File Id="filBF3A6543836C27E153331952B2AF1DB1" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowPlayerNumbers\Index.cshtml" />
                    </Component>
                    <Component Id="cmpF7F7FBA8A896C77A6D328C9331A395F9" Guid="{B7FBE584-2CD0-4A66-9103-5A3D292BB9AB}">
                        <File Id="fil3ACB2470FAF00EBDA1982F45EE5B5A86" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowPlayerNumbers\NSMissing.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir2DC2A1122BA3BBCEEDB498AEC82A2F6B" Name="ShowRankingList">
                    <Component Id="cmp8538D07B3F01381D6EA95CF499900B81" Guid="{A4BFE9B4-B98D-43E9-84BC-7744A14D602E}">
                        <File Id="fil7832C10CF814C2C3A361E7DDFEAA2ABB" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowRankingList\OneWinner.cshtml" />
                    </Component>
                    <Component Id="cmpD9EF43FAE8938D7F70A9A16FC9A616E5" Guid="{34D6075C-8B4C-48C4-9330-8FD5FC42FD48}">
                        <File Id="filCC7D5032B741AAFDD8F8546EB5E3F41C" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowRankingList\TwoWinners.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir6DDE0F623BDC7DB8C718532143C47CF3" Name="ShowRoundInfo">
                    <Component Id="cmp61B67B2951F5927EFF0B00B08ED7FA56" Guid="{C75F12D9-D939-4780-91CF-7E6BCEABDFD1}">
                        <File Id="fil715B6E998A5A84715CCDC1D0582850E5" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowRoundInfo\EWMissing.cshtml" />
                    </Component>
                    <Component Id="cmp9296F59593FA5794DFDDB4060515C7ED" Guid="{AA41133A-4050-446B-8589-1CCCF91D4409}">
                        <File Id="fil030F5C469F86FC0D16037E75EBF6ABAB" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowRoundInfo\Index.cshtml" />
                    </Component>
                    <Component Id="cmp0713E2A12F20274DB1C5F7CEFFCC2899" Guid="{5FACF21F-5409-47DE-908A-A01B5B082DAC}">
                        <File Id="filC44FCEBEC75FD59B3B40B56CAD561D26" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowRoundInfo\NSMissing.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirFBC6E206D16B5C7E7CA34A3017CE6A36" Name="ShowTraveller">
                    <Component Id="cmpCE24478788E9ED64E241F11919ED9735" Guid="{C2DAA3AB-8890-413C-AE33-62D416D1195C}">
                        <File Id="filD67EBB793491E24D35495F212D94B195" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\ShowTraveller\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir8A37ABDBEE938C8E0838DC12509E8013" Name="StartScreen">
                    <Component Id="cmp161B6EBB96633AFFD8FBA5B1F60217FF" Guid="{BAA2EE0C-A398-4311-BDAD-5422D2DAF473}">
                        <File Id="fil7F90D54B012342287876BADEBA0AD7E0" KeyPath="yes" Source="$(var.TabScoreWebAppSourceDir)\Views\StartScreen\Index.cshtml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebAppComponents">
            <ComponentRef Id="cmp5FF80ED0A286DB27D50392A139CBA9C2" />
            <ComponentRef Id="cmpB66DFE206993B97FC1B3584C2B2B2B03" />
            <ComponentRef Id="cmp5F26B87B91EBA7A6543C03F9E9BA2FA4" />
            <ComponentRef Id="cmpB40041BACFA4D7E001F1B62CB9C6778F" />
            <ComponentRef Id="cmp8763F03EFC8E7D2E1629E4858F54831D" />
            <ComponentRef Id="cmpCD07399875273C16C0BA2B11C0BC6582" />
            <ComponentRef Id="cmp8037A6503748249F6D8D4A208B3F47C6" />
            <ComponentRef Id="cmpB0A61A282499528B02BFB77E8441F3F1" />
            <ComponentRef Id="cmp2655A666EB3F15DB0C0820C202EB2DD5" />
            <ComponentRef Id="cmp49877A3F0FC9CEEB8D778BBDB9B13F63" />
            <ComponentRef Id="cmpBD7E6C4BA5C6E06D919A8CE1E8535FF5" />
            <ComponentRef Id="cmp816363550A9C8504581D9149C12612C0" />
            <ComponentRef Id="cmp66DEB367879A30E3340ECE301D469981" />
            <ComponentRef Id="cmp10F961A06AE1C41ED53BCC16442A0C41" />
            <ComponentRef Id="cmp6CBFD71F434F6D7A814414FDB8860B15" />
            <ComponentRef Id="cmp78448B1C040CAAFA89D76F17D00B9D40" />
            <ComponentRef Id="cmp905BD53BBFB6FB78915532B69BB9966E" />
            <ComponentRef Id="cmpB5B6F2C141178F6CD23AA0FF4F612ED9" />
            <ComponentRef Id="cmpDDFFBFEDF1928DE066DA29D42A3DFC1B" />
            <ComponentRef Id="cmpA85CF02E1EDF168577C2E45FE6087481" />
            <ComponentRef Id="cmpE557982A17D786AC2B5A2BB65B04CC88" />
            <ComponentRef Id="cmp800E85FBB8B544209B8634891DCBB897" />
            <ComponentRef Id="cmp3C8FB25D72D3BBADDD2698F0788B61D6" />
            <ComponentRef Id="cmp670D2A3DE62D8E91AAC7373CFBEEC00B" />
            <ComponentRef Id="cmp0F427984D141C7BC455A7321F43D0D3F" />
            <ComponentRef Id="cmp7EEF48FAC492E415991D84E36993DA5F" />
            <ComponentRef Id="cmpFBBD1F67BBDD39D002DFAE52CE012F9E" />
            <ComponentRef Id="cmp4E73AC0B6FC510B3F7DA675E04B88459" />
            <ComponentRef Id="cmpE5DEB11E54FA0FC7FE658ADB774087DB" />
            <ComponentRef Id="cmpE947F003C8FBCA8198F5365863FA2AF3" />
            <ComponentRef Id="cmp3B3FEF2EEF0CF216D44FDA8BE2642736" />
            <ComponentRef Id="cmp880B0B9F8C92BCCD502FA9295086EA1E" />
            <ComponentRef Id="cmpB77749F6AFB30BBAF5C0E96DB4729EC9" />
            <ComponentRef Id="cmp1CC3973756760E857D75CC86ADFB9A42" />
            <ComponentRef Id="cmp67702B588379CBF5446F90550644EB48" />
            <ComponentRef Id="cmpDC7D57BF540CC91CAA940324EA7799B6" />
            <ComponentRef Id="cmpCCBB0C2B8F8D4F4DF41CC873CC7067E6" />
            <ComponentRef Id="cmpBAEA759BF68DBFB6E8C6C192E2EE61BF" />
            <ComponentRef Id="cmp8AD22E8B08CD6CF5D6977D4DE5317116" />
            <ComponentRef Id="cmp663A5DDB8FBAF28C10346D615B5B4100" />
            <ComponentRef Id="cmp1BB67055F2053DFDD35378AD53EAD8A7" />
            <ComponentRef Id="cmp49B1009B03BB7F693F6AE0F453EED1F9" />
            <ComponentRef Id="cmp6F264A01FD334706E405DC9143B63937" />
            <ComponentRef Id="cmp69F722D26F61A17D1447FCAF231A5410" />
            <ComponentRef Id="cmp6874D66144693A24CAA301C7E4C6133D" />
            <ComponentRef Id="cmp3FB1E840597D02D348C3359688BB393C" />
            <ComponentRef Id="cmp4EB2B33C31DB840B4DB8E5F9CBCDF9B5" />
            <ComponentRef Id="cmp986B21886F426E14BC730FC020BFDB7F" />
            <ComponentRef Id="cmpA2A5AE8BFB5E3E897E9787334BBDAA08" />
            <ComponentRef Id="cmp8158C774BBC83F87F259E881C69ECD4C" />
            <ComponentRef Id="cmp4FF813DAF8C917B74C61351E893583B4" />
            <ComponentRef Id="cmpE040CB3B3F979885E82DCA96887768CF" />
            <ComponentRef Id="cmp8A75B0CBD78C44EF2503B7C97B959337" />
            <ComponentRef Id="cmp06FDB840C252826C868712273160A053" />
            <ComponentRef Id="cmp022457CF130D08DB2AC39844506449BC" />
            <ComponentRef Id="cmpE492912D102E902C2D29A796DE2841F3" />
            <ComponentRef Id="cmp42114232F8457F4830A40FE0C9EEA457" />
            <ComponentRef Id="cmp2733CCD086090D3264032E6159E87669" />
            <ComponentRef Id="cmp8B28B977FFCAA959D3CF9A94C8FE9882" />
            <ComponentRef Id="cmpA535BC8D4B1B3890D5941BC9863D5FA0" />
            <ComponentRef Id="cmp22C24BC79E92D13E3A98E33837D87B9F" />
            <ComponentRef Id="cmpE67CB01D253FE3371490BB94A61E71C8" />
            <ComponentRef Id="cmp01D84499C02CEC91E64485D9D8B69CA0" />
            <ComponentRef Id="cmp903A0B49B7236E581408CD359C51E3D5" />
            <ComponentRef Id="cmpDFF7740367832ADFDB9FB7685BC3111F" />
            <ComponentRef Id="cmp9B9F0F502BD153A20F241CF461B091DA" />
            <ComponentRef Id="cmp2B28B7EF53BD9207A6F996CB46E2722B" />
            <ComponentRef Id="cmp336EA5F27D1718677A22399C6BA9D541" />
            <ComponentRef Id="cmp2871F4592541A83C1368840C8164D277" />
            <ComponentRef Id="cmp7B333264D19B3FBB91BB5A0D879C2837" />
            <ComponentRef Id="cmpDAF7E356CD6C13891A1F958309DAA65C" />
            <ComponentRef Id="cmpB6651BE5CF0F15D7FE1EB727BD246127" />
            <ComponentRef Id="cmp916E6366D93BB973BF4224C8A77AE3EC" />
            <ComponentRef Id="cmpAE51DD5BCF525E5359843AB18020141B" />
            <ComponentRef Id="cmp365D1F8784F466F998E8AF94ACC2468E" />
            <ComponentRef Id="cmpBFD94088176DACF0C75DD44B48E5AB4A" />
            <ComponentRef Id="cmpB54682926F1CD13E0071A229DD9FE93A" />
            <ComponentRef Id="cmp9FC12F97035D3609EFEC9086D10B9E33" />
            <ComponentRef Id="cmpEC16DA3AD5B52F80B99E6D799FE6567E" />
            <ComponentRef Id="cmpB4EA62946A507C2B9838EC8B670893FD" />
            <ComponentRef Id="cmpBDB997483DF72848C4992623DAFD6BC0" />
            <ComponentRef Id="cmp54CC7538C2CB705F4760EE7DB64A6297" />
            <ComponentRef Id="cmp9E3D483FAAFE47099C81908AFF62400A" />
            <ComponentRef Id="cmp9BD5B1A6EF4C77DDB8CD6AACEED1F628" />
            <ComponentRef Id="cmp7C83264EE9F9A0CD0BB957F223EE7F11" />
            <ComponentRef Id="cmpCB8DDC25CAED05C122492DAA534E15B0" />
            <ComponentRef Id="cmpC127E810A7777FF8C36DA78DC2032C28" />
            <ComponentRef Id="cmpD33AF6F68CABE8CD54B5AE366E300745" />
            <ComponentRef Id="cmp941B15B85BE3C3CE71A39C0A7AC04D04" />
            <ComponentRef Id="cmpBE40A01327C369521E1CA7FE1B0E2051" />
            <ComponentRef Id="cmp1015C21250B936E4E5D2DC5AE03AF5EA" />
            <ComponentRef Id="cmp2077E59E5B23D8DA9A1D02C4DB9F074C" />
            <ComponentRef Id="cmp6543406CDC1DA6DE1FC45E5A355B8550" />
            <ComponentRef Id="cmpADE83ED0FE68319414778ADB5F71A347" />
            <ComponentRef Id="cmp6DA99BFF15492D6E1CDA3DF848BD6232" />
            <ComponentRef Id="cmp7498E313C6DD0BDD00BB6C950FAA07D4" />
            <ComponentRef Id="cmp865DF918F46EA190A4FAAA36CD450264" />
            <ComponentRef Id="cmpD3ED2A428B609D5276FE1C103EBE2938" />
            <ComponentRef Id="cmp02DEA71F955E43690D52EC922664B93A" />
            <ComponentRef Id="cmpF7F7FBA8A896C77A6D328C9331A395F9" />
            <ComponentRef Id="cmp8538D07B3F01381D6EA95CF499900B81" />
            <ComponentRef Id="cmpD9EF43FAE8938D7F70A9A16FC9A616E5" />
            <ComponentRef Id="cmp61B67B2951F5927EFF0B00B08ED7FA56" />
            <ComponentRef Id="cmp9296F59593FA5794DFDDB4060515C7ED" />
            <ComponentRef Id="cmp0713E2A12F20274DB1C5F7CEFFCC2899" />
            <ComponentRef Id="cmpCE24478788E9ED64E241F11919ED9735" />
            <ComponentRef Id="cmp161B6EBB96633AFFD8FBA5B1F60217FF" />
        </ComponentGroup>
    </Fragment>
</Wix>