@{
    ViewBag.Title = "Enter Table No";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var numTables = Convert.ToInt32(ViewData["NumTables"].ToString());
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Select Table Number:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 1; i <= numTables && i < 6; i++)
            {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                @i
            </button>
        }
    </div>
</div>

@if (numTables > 5)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 6; i <= numTables && i < 11; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (numTables > 11)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 11; i <= numTables && i < 16; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (numTables > 16)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 16; i <= numTables && i < 21; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (null != TempData["alertMessage"])
{
    <script>
        window.alert('@TempData["alertMessage"]');
    </script>
}

<script>
    var tableNo = "";

    function selectTableNo(n) {
        if (tableNo != "") {
            document.getElementById("tn" + tableNo).className = "btn btn-primary btn-lg m-1";
        }
        document.getElementById("tn" + n).className = "btn btn-dark btn-lg m-1";
        tableNo = n;
    }

    function validateOK() {
        if (tableNo != "") {
            location.href = '/EnterTableNo/OKButtonClick?&tn=' + tableNo;
        }
        else {
            window.alert("Please select a Table number");
        }
    }
</script>
