
@{
    ViewBag.Title = "Cancel Preset";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h4>
            Do you wish to cancel the section and table number presets?
        </h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <h5>
            Press Cancel to return to the control menu or OK to confirm  
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<div class="row mt-2">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <h5>
            Note: This does not change the current section and table numbers until you restart
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    function validateOK() {
        document.cookie = "SectionLetter=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "TableNo=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.href = '/ControlSectionTableNoPreset/CancelPresetOKButtonClick';
    }

    function cancelClick() {
        location.href = '/ControlSectionTableNoPreset/CancelButtonClick';
    }
</script>

