@{
    ViewBag.Title = "Control - Enter Table No Preset";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Current table is @ViewData["Table"]
        </h3>
    </div>
</div>

<div class="row mt-1">
    <div class="col-12 text-center">
        <h3>
            Select table number:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 1; i < 6; i++)
            {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                @i
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 6; i < 11; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                @i
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 11; i < 16; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                @i
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 16; i < 21; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNo('@i')">
                @i
            </button>
        }
    </div>
</div>

<div class="row mt-2">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <h5>
            Note: This does not change the current table number until you restart
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    var tableNo = "";

    function selectTableNo(n) {
        if (tableNo != "") {
            document.getElementById("tn" + tableNo).className = "btn btn-primary btn-lg m-1";
        }
        document.getElementById("tn" + n).className = "btn btn-dark btn-lg m-1";
        tableNo = n;
    }

    function validateOK() {
        if (tableNo != "") {
            var d = new Date();
            d.setTime(d.getTime() + 315360000);
            document.cookie = "TableNo=" + tableNo + ";expires=" + d.toUTCString() + ";path=/";
            location.href = '/ControlSectionTableNoPreset/TableNoOKButtonClick';
        }
        else {
            window.alert("Please select a Table number");
        }
    }
</script>
