@{
    ViewBag.Title = "Control - Restart";
    Layout = "~/Views/Shared/_ControlLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            Are you sure you wish to restart?
        </h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
    </div>
    <div class="col-6 text-center">
        <h5>
            Press Cancel to return to the control menu or OK to confirm restart
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    function validateOK() {
        location.href = '/ControlRestart/OKButtonClick';
    }

    function cancelClick() {
        location.href = '/ControlRestart/CancelButtonClick';
    }
</script>