
@{
    ViewBag.Title = "End Screen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            Score entry complete
        </h2>
    </div>
</div>
<div>
</div>
<div class="row mt-4">
    <div class="col">
    </div>
    <div class="col-6 text-center">
        <img src="~/Chequered Flag Logo.png" style="width: 100%"/>
        <h5>
            You can now turn off the tablet or, to start another session, press OK and wait for the TD
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    function validateOK() {
        location.href = '/EndScreen/OKButtonClick';
    }
</script>