<!-- TabScore installer for required Windows IIS features -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<!-- File source definitions -->
	<?ifdef $(env.TabScoreSourceDir)?>
	<?define TabScoreDocumentsSourceDir = "$(env.TabScoreSourceDir)\source\repos\TabScore\TabScore Documents" ?>
	<?else?>
	<?define TabScoreDocumentsSourceDir = "$(env.USERPROFILE)\source\repos\TabScore\TabScore Documents" ?>
	<?endif?>

  <Package Name="TabScoreIISSetup" Language="1033" Version="1.5.0" Manufacturer="TabScore" UpgradeCode="{048361FA-F1E0-40B7-BA0A-11FFF5F2F988}" InstallerVersion="200" ProductCode="{643D7B67-B9DD-4744-A3CD-F824B8C0ED5A}"><MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(TabScoreDocumentsSourceDir)\InstallerNotice TabScoreIISSetup.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(TabScoreDocumentsSourceDir)\TabScore 493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(TabScoreDocumentsSourceDir)\TabScore 493x312.bmp" />

    <!-- Empty Directory, Component and Feature without which MSI doesn't seem to work properly -->
    
    <Feature Id="Feature" Title="Feature" Level="1">
      <ComponentRef Id="EmptyComponent" />
      <ComponentRef Id="SetFirewallPortComponent" />
    </Feature>

    <CustomAction Id="AddIISDefaultDocument" Property="IISDefaultDocument" Value="&quot;[system64folder]dism.exe&quot; /norestart /quiet /online /enable-feature /featurename:IIS-DefaultDocument /all" Execute="immediate" />
    <CustomAction Id="IISDefaultDocument" DllEntry="WixQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <CustomAction Id="AddIISManagementConsole" Property="IISManagementConsole" Value="&quot;[system64folder]dism.exe&quot; /norestart /quiet /online /enable-feature /featurename:IIS-ManagementConsole /all" Execute="immediate" />
    <CustomAction Id="IISManagementConsole" DllEntry="WixQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <CustomAction Id="AddIISASPNET45" Property="IISASPNET45" Value="&quot;[system64folder]dism.exe&quot; /norestart /quiet /online /enable-feature /featurename:IIS-ASPNET45 /all" Execute="immediate" />
    <CustomAction Id="IISASPNET45" DllEntry="WixQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
       
    <InstallExecuteSequence>
      <Custom Action="AddIISDefaultDocument" After="CostFinalize" />
      <Custom Action="IISDefaultDocument" After="InstallInitialize" />
      <Custom Action="AddIISManagementConsole" After="CostFinalize" />
      <Custom Action="IISManagementConsole" After="InstallInitialize" />
      <Custom Action="AddIISASPNET45" After="CostFinalize" />
      <Custom Action="IISASPNET45" After="InstallInitialize" />
    </InstallExecuteSequence>

    <Component Id="SetFirewallPortComponent" Directory="TARGETDIR" Guid="{0FC9E126-E677-42D7-B5D8-859C85C9FA12}">
      <fire:FirewallException Id="FirewallPort80" Name="TabScore Port 80" Protocol="tcp" Port="80" Scope="localSubnet" IgnoreFailure="yes" Profile="private" />
    </Component>

  
      <Component Id="EmptyComponent" Guid="{EDBC12F7-D726-4B3A-857B-D74ABCC45CD1}" Directory="TARGETDIR" />
    </Package>
</Wix>
