<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2023 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@using Resources

<div class="row mt-5">
    <div class="col-12 text-center text-danger">
        <h2>
            <span class="fa fa-exclamation-circle"></span> Error
        </h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <h5 class="mt-2">
            @Strings.ErrorDBConnection
        </h5>
        <h5>
            @Strings.ErrorReestablishConnection
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('click', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "ErrorScreen")';
        }
    });
</script>