
@{
    ViewData["Title"] = "Error Screen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center text-danger">
        <h2>
            <span class="fa fa-exclamation-circle"></span> Error
        </h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <h5 class="mt-2">
            An error has occurred whilst connecting to the scoring database
        </h5>
        <h5>
            Please click OK and log back on to your section/table number to re-establish the connection  
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    var isSubmitted = false;

    function validateOK() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "ErrorScreen")';
        }
    }
</script>