<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2022 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@using Resources

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            @Strings.ScoreEntryComplete
        </h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-1">
    </div>
    <div class="col-10 text-center">
        <img src="~/Resources/Chequered Flag Logo.png" style="width: 100%" />
        <h5 class="mt-2">
            @Strings.IfFinished
        </h5>
        <h5>
            @Strings.ForSwiss
        </h5>
    </div>
    <div class="col-1">
    </div>
</div>

<script>
    var isSubmitted = false;

    $(document).on('touchstart', '#OKButton:enabled', function () {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "EndScreen")?tabletDeviceNumber=@ViewData["TabletDeviceNumber"]';
        }
    });
</script>