
@{
    ViewBag.Title = "End Screen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            Score entry complete
        </h2>
    </div>
</div>
<div>
</div>
<div class="row mt-4">
    <div class="col">
    </div>
    <div class="col-8 text-center">
        <img src="~/Chequered Flag Logo.png" style="width: 100%" />
        <h5 class="mt-2">
            If the event is finished, you can turn off the tablet
        </h5>
        <h5>
            For Swiss events, wait until the TD tells you and then press OK to get the new movement
        </h5>
    </div>
    <div class="col">
    </div>
</div>

<script>
    function validateOK() {
        location.href = '@Url.Action("OKButtonClick", "EndScreen")';
    }
</script>