<!DOCTYPE html>
<html lang="en">

<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

<head>
    <title>@ViewData["Title"].ToString()</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="preload" as="font" href="/fonts/fontawesome-webfont.woff2?v=4.7.0" type="font/woff2" crossorigin="anonymous">
    <script>
        $(function () {
            $("body").css("padding-top", $("#headerRow").height().toString() + "px");
            $("body").css("padding-bottom", ($("#footerRow").height() + 10).toString() + "px");
            if ("getBattery" in navigator) {
                navigator.getBattery().then(function (battery) {
                    $("#battery").css("display", "block");
                    $("#header").attr("class", "col-10 my-auto pr-0");
                    var batteryLevel = battery.level * 100;
                    if (batteryLevel > 87.5) {
                        $("#bl").attr("class", "fa fa-battery-full");
                    }
                    else if (batteryLevel > 62.5) {
                        $("#bl").attr("class", "fa fa-battery-three-quarters");
                    }
                    else if (batteryLevel > 37.5) {
                        $("#bl").attr("class", "fa fa-battery-half");
                    }
                    else if (batteryLevel > 12.5) {
                        $("#bl").attr("class", "fa fa-battery-quarter");
                    }
                    else {
                        $("#bl").attr("class", "fa fa-battery-empty");
                    }
                });
            }
            if (typeof onFullPageLoad == 'function') {
                onFullPageLoad();
            }
        });
    </script>
</head>

<body style="background-color: ivory">
    <div id="headerRow" class="container-fluid fixed-top" style="min-height: 51px; background-color: bisque; border-bottom-style: solid">
        <div class="row my-2">
            <div id="header" class="col-12 my-auto">
                <h5>@Html.Raw(ViewData["Header"])</h5>
            </div>
            <div id="battery" class="col-2 my-auto text-right" style="display:none">
                <h3><span id="bl"></span></h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <div id="footerRow" class="container-fluid fixed-bottom" style="background-color: bisque; border-top-style: solid">
        <div class="row">
            <div class="col-6">
                @{ 
                    var buttonOptions = (TabScore.Models.ButtonOptions)ViewData["ButtonOptions"];
                    if (buttonOptions == TabScore.Models.ButtonOptions.OKEnabledAndBack || buttonOptions == TabScore.Models.ButtonOptions.OKDisabledAndBack)
                    {
                        <button id="BackButton" class="btn btn-danger ml-2 my-2 float-left" style="font-size: 1.5rem">
                            <span class="fa fa-chevron-circle-left"></span> Back
                        </button>
                    } 
                }
            </div>
            <div class="col-6">
                @if (buttonOptions == TabScore.Models.ButtonOptions.OKDisabled || buttonOptions == TabScore.Models.ButtonOptions.OKDisabledAndBack)
                {
                    <button id="OKButton" class="btn btn-success mr-2 my-2 float-right" style="font-size: 1.5rem" disabled>
                        OK <span class="fa fa-chevron-circle-right"></span>
                    </button>
                }
                else
                {
                    <button id="OKButton" class="btn btn-success mr-2 my-2 float-right" style="font-size: 1.5rem">
                        OK <span class="fa fa-chevron-circle-right"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</body>

</html>