<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/TabScoreIcon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .btn-suit {
            background-color: paleturquoise;
        }
    </style>
    <script>
        if ("getBattery" in navigator) {
            window.onload = navigator.getBattery().then(function (battery) {
                var batteryLevel = battery.level * 100;
                if (batteryLevel > 87.5) {
                    document.getElementById('bl').className = "fa fa-battery-full";
                }
                else if (batteryLevel > 62.5) {
                    document.getElementById('bl').className = "fa fa-battery-three-quarters";
                }
                else if (batteryLevel > 37.5) {
                    document.getElementById('bl').className = "fa fa-battery-half";
                }
                else if (batteryLevel > 12.5) {
                    document.getElementById('bl').className = "fa fa-battery-quarter";
                }
                else {
                    document.getElementById('bl').className = "fa fa-battery-empty";
                }
            })
        }
        else {
            document.getElementById(battery).style.display = "none";
            document.getElementById(header).className = "col-12 my-auto";
        }
    </script>
</head>

<body style="background-color: ivory; padding-top: 90px; padding-bottom: 110px">
    <div class="container-fluid fixed-top" style="min-height: 51px; background-color: bisque; border-bottom-style: solid">
        <div class="row my-2">
            <div id="header" class="col-10 my-auto pr-0">
                <h5>@Html.Raw(ViewBag.Header)</h5>
            </div>
            <div id="battery" class="col-2 my-auto text-right">
                <h3><span id="bl"></span></h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <div class="container-fluid fixed-bottom" style="background-color: bisque; border-top-style: solid">
        <div class="row">
            <div class="col-6">
                @if (ViewData["BackButton"].ToString() == "TRUE")
                {
                    <button class="btn btn-danger btn-xl ml-2 my-2 float-left" style="font-size: 1.5rem" ontouchstart="backClick()">
                        <span class="fa fa-chevron-circle-left"></span> Back
                    </button>
                }
            </div>
            <div class="col-6">
                <button class="btn btn-success btn-xl mr-2 my-2 float-right" style="font-size: 1.5rem" ontouchstart="validateOK()">
                    OK <span class="fa fa-chevron-circle-right"></span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
