<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/TabScoreIcon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .btn-suit {
            background-color:paleturquoise;
        }
    </style>
</head>

<body style="background-color: ivory; padding-top: 90px; padding-bottom: 75px"">
    <div class="container-fluid fixed-top" style="min-height: 51px; background-color: bisque; border-bottom-style: solid">
        <div class="row my-2">
            <div class="col-12 my-auto">
                <h5>@Html.Raw(ViewBag.Header)</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <div class="container-fluid fixed-bottom" style="background-color: bisque; border-top-style: solid">
        <div class="row">
            <div class="col-6">
                @if (ViewData["BackButton"].ToString() == "TRUE")
                {
                    <button class="btn btn-danger btn-xl ml-2 my-2 float-left" style="font-size: 1.5rem" ontouchstart="backClick()">
                        <span class="fa fa-chevron-circle-left"></span> Back
                    </button>
                }
            </div>
            <div class="col-6">
                <button class="btn btn-success btn-xl mr-2 my-2 float-right" style="font-size: 1.5rem" ontouchstart="validateOK()">
                    OK <span class="fa fa-chevron-circle-right"></span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
