<!-- TabScore - TabScore, a wireless bridge scoring program.  Copyright(C) 2020 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore.Models.EnterPlayerNumber

<style>
    .btn-numeric {
        font-size: 1.5rem;
        width: 3em;
    }
</style>

<div id="noPlayerNoModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <p class="modal-title text-center">
                    <h3>Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>Please select a player number, or select 'Unknown'</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    OK <span class="fa fa-check-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Enter ID for @Model.Direction
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <input class="form-control-lg text-center mx-auto my-1" style="width: 8em" type="text" id="playerNumberBox" value="" readonly>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <button id="nk" class="btn btn-secondary btn-lg px-0 m-1" style="width: 6em" ontouchstart="unknown()">
            Unknown
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(1)">
            1
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(2)">
            2
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(3)">
            3
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(4)">
            4
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(5)">
            5
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(6)">
            6
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(7)">
            7
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(8)">
            8
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(9)">
            9
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-warning btn-lg btn-numeric px-0 m-1" ontouchstart="clearLastEntry()">
            CE
        </button>
        <button class="btn btn-primary btn-lg btn-numeric m-1" ontouchstart="addNumber(0)">
            0
        </button>
        <button class="btn btn-danger btn-lg btn-numeric m-1" ontouchstart="clearplayerNumber()">
            C
        </button>
    </div>
</div>

<script>
    var urlOKButtonClick = '@Url.Action("OKButtonClick", "EnterPlayerNumber")?sectionID=@Model.SectionID&tableNumber=@Model.TableNumber&direction=@Model.Direction';
</script>
<script src='@Url.Content("~/Scripts/EnterPlayerNumber.js")' type="text/javascript"></script>