@{ 
    ViewBag.Title = "Start Screen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            Welcome
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h3>
            to
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h1>
            TabScore
        </h1>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
    </div>
    <div class="col-6 text-center">
        <h5>
            Please wait until the Tournament Director tells you to start, and then press OK
        </h5>
    </div>
    <div class="col">
    </div>
</div>

@if (null != TempData["alertMessage"])
{
    <script>
        window.alert('@TempData["alertMessage"]');
    </script>
}

<script>
   function validateOK() {
       location.href = '/StartScreen/OKButtonClick';
   }
</script>
