@model TabScore.Models.Sesh 

@{
    ViewBag.Title = "Enter Table Number";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="tableLoggedOnModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-danger">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Table @Model.TableNumber is already logged on.  Do not press Log On unless you intend to log back on to your current table</p>
        </div>
        <div class="modal-footer" style="justify-content:space-between">
            <button class="btn btn-lg btn-danger" ontouchstart="modalLogOn()">
                <span class="fa fa-play-circle"></span> Log On
            </button>
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                Cancel <span class="fa fa-times-circle"></span>
            </button>
        </div>
    </div>
</div>

<div id="noTableNoModal" class="modal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>Warning</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>Please select a Table number</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-dismiss="modal">
                OK <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Select Table Number:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 1; i <= Model.NumTables && i < 6; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                @i
            </button>
        }
    </div>
</div>

@if (Model.NumTables > 5)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 6; i <= Model.NumTables && i < 11; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 10)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 11; i <= Model.NumTables && i < 16; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 15)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 16; i <= Model.NumTables && i < 21; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}
@if (Model.NumTables > 20)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 21; i <= Model.NumTables && i < 26; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 25)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 26; i <= Model.NumTables && i < 31; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" ontouchstart="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.TableNumber > 0)
{
    <script>
        $("#tableLoggedOnModal").modal();
    </script>
}

<script>
    var tableNumber = "";
    var isSubmitted = false;

    function selectTableNumber(n) {
        if (tableNumber != "") {
           document.getElementById("tn" + tableNumber).className = "btn btn-primary btn-lg m-1";
        }
        document.getElementById("tn" + n).className = "btn btn-warning btn-lg m-1";
        tableNumber = n;
    }

    function validateOK() {
        if (tableNumber != "") {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("OKButtonClick", "EnterTableNumber")?tableNumber=' + tableNumber + '&confirm=FALSE';
            }
        }
        else {
            $("#noTableNoModal").modal();
        }
    }

    function modalLogOn() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "EnterTableNumber")?tableNumber=@Model.TableNumber&confirm=TRUE';
        }
    }
</script>
