@{
    ViewBag.Title = "Enter Table Number";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var numTables = Convert.ToInt32(ViewData["NumTables"].ToString());
}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Select Table Number:
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @for (int i = 1; i <= numTables && i < 6; i++)
            {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                @i
            </button>
        }
    </div>
</div>

@if (numTables > 5)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 6; i <= numTables && i < 11; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (numTables > 11)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 11; i <= numTables && i < 16; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (numTables > 16)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 16; i <= numTables && i < 21; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}
@if (numTables > 21)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 21; i <= numTables && i < 26; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (numTables > 26)
{
    <div class="row">
        <div class="col-12 text-center">
            @for (int i = 26; i <= numTables && i < 31; i++)
                {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1" style="width: 3em" onclick="selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (null != TempData["LoggedOnTable"])
{
    <script>
        if (window.confirm('Table @TempData["LoggedOnTable"] already logged on.  Do not press OK unless the TD has told you to do so')) {
            location.href = '/EnterTableNumber/OKButtonClick?&tableNumber=@TempData["LoggedOnTable"]&confirm=TRUE';
        }
    </script>
}

<script>
    var tableNumber = "";

    function selectTableNumber(n) {
        if (tableNumber != "") {
            document.getElementById("tn" + tableNumber).className = "btn btn-primary btn-lg m-1";
        }
        document.getElementById("tn" + n).className = "btn btn-dark btn-lg m-1";
        tableNumber = n;
    }

    function validateOK() {
        if (tableNumber != "") {
            location.href = '/EnterTableNumber/OKButtonClick?tableNumber=' + tableNumber + '&confirm=FALSE';
        }
        else {
            window.alert('Please select a Table number');
        }
    }
</script>
